<!doctype html>
<html lang="en">
  <head>
    {% block head %}
    <title>eXchange - {% block title %}{% endblock %}</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" media="screen" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/maze.css') }}" media="screen" />
    {% endblock %}
  </head>
  <body>
    <!--*********** HEADER ********-->
    <div id="head">
        <div class="container">
            <div class="row">
                <li><a href="#footer" class="btn btn-lg btn-info
                    btn-join">Join</a></li>
                <div class="upcoming-text">
                    <h2>Upcoming e<samp>X</samp>change</h2>
                    <p id="upcoming-date" class="text-danger">(06.01.15 @
                    18:00:00)</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-2 col-md-offset-3 mt guest-img-name">
                        <figure>
                            <img class="img-circle img-responsive"
                            src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/1/000/19a/1ee/0cede66.jpg" />
                        </figure>
                        <h4 id="guest-name">Francis Addai</h4>
                </div>
                <div class="col-md-4 info-holder">
                    <p>Francis is a UI/UX Engineer at <a href="http://wwww.rancard.com" target="_blank">Rancard Solutions Limited</a>, a company which provides enterprise mobile solutions. Francis is well versed in the technologies that power the web and he has been in the software development industry for four years now. </p>
                    <div class="social-btns">
                    <div class="col-md-1">
                        <a href="http://github.com/faddai" target="_blank" class="btn btn-block btn-github">
                            <i class="fa fa-2x fa-github"></i></a>
                    </div>
                    <div class="col-md-1">
                        <a href="http://www.twitter.com/faddai" target="_blank" class="btn btn-block">
                            <i class="fa fa-2x fa-twitter"></i></a>
                    </div>
                    <div class="col-md-1">
                        <a href="http://gh.linkedin.com/in/faddai" target="_blank" class="btn btn-block">
                            <i class="fa fa-2x fa-linkedin"></i></a>
                    </div>
                </div>
                </div>
            </div><!-- row -->
            <div class="row">
                <div class="col-md-3 col-md-offset-5 mt">
                    <a href="https://www.google.com/moderator/#16/e=21588f" target="_blank" class="btn btn-primary btn-lg">
                         Ask him a question
                    </a>
                </div>
            </div>
            <div id="exchange-quote">
            <blockquote>
                <p>Working with masters is the best way to
                learn a craft.</p>
                <footer>quote from <a href="#">Apprenticeship
                        Patterns</a></footer>
            </blockquote>
            </div>
        </div><!--container-->
    </div><!--head-->

    <!-- Past Exchanges -->
<div id="exchanges">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <div id="exchange-carousel" class="carousel slide"
                    data-interval="false">
                    <h2 class="heading">Past e<samp>X</samp>changes</h2>
                    <!--Navigation arrows-->
                    <!--<a class="even-control-left" href="#exchange-carousel" data-slide="prev"><i class="fa fa-angle-left"></i></a>
                    <a class="even-control-right" href="#exchange-carousel"
                        data-slide="next"><i class="fa fa-angle-right"></i></a>-->
                    <div class="carousel-inner">
                        <div class="item active">
                            <div class="row">
                                <div class="col-sm-3">
                                    <div class="exchange">
                                        <img class="img-circle img-responsive"
                                        src="http://edwardpie.herokuapp.com/static/imgs/profile.png"
                                        alt="Edward Pie">
                                        <h4>Edward Pie</h4>
                                        <a href="https://www.youtube.com/watch?v=E7WcZNhbiGw" target="_blank" class="btn
                                            btn-primary">Watch</a>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="exchange">
                                        <img class="img-circle img-responsive"
                                        src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/1/000/0da/1ba/2336753.jpg"
                                        alt="Mawuli Adzoe">
                                        <h4>Mawuli Adzoe</h4>
                                        <a href="https://www.youtube.com/watch?v=EYj9SUBuhKg" target="_blank" class="btn
                                            btn-primary">Watch</a>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="exchange">
                                        <img class="img-circle img-responsive"
                                        src="https://media.licdn.com/mpr/mpr/shrink_200_200/p/8/005/071/3cf/1394d23.jpg"
                                        alt="Nikunj Handa">
                                        <h4>Nikunj Handa</h4>
                                        <a href="https://www.youtube.com/watch?v=ksqNdkm98D0" target="_blank" class="btn
                                            btn-primary">Watch</a>
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="exchange">
                                        <img class="img-circle img-responsive"
                                        src="http://encodevlabs.com/img/alfred.jpg"
                                        alt="Alfred Rowe">
                                        <h4>Alfred Rowe</h4>
                                        <a href="https://www.youtube.com/watch?v=e2E9b6uMlXU" target="_blank" class="btn
                                            btn-primary">Watch</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
    <!-- End of past exchanges -->
<div id="new-guest">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-md-6 col-sm-offset-2
                col-md-offset-3">
                <form role="form" action="/guests" method="post">
                    <h2>Recommend a guest</h2>
                    <hr class="colorgraph">
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="firstname"
                                id="firstname"
                                value="{{request.form.firstname}}"
                                class="form-control input-lg"
                                placeholder="First Name" tabindex="1">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="lastname" id="lastname"
                                value="{{request.form.lastname}}"
                                class="form-control input-lg"
                                placeholder="Last Name" tabindex="2">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                            <input type="email" name="email_address"
                            id="email_address"
                            value="{{request.form.email_address}}"
                        class="form-control input-lg" placeholder="Email  address"
                        tabindex="3">
                    </div>
                    <div class="form-group">
                        <input type="url" name="homepage" id="homepage"
                        value="{{request.form.homepage}}"
                        class="form-control input-lg" placeholder="Homepage"
                        tabindex="4">
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="github" id="github"
                               value="{{request.form.github}}"
                                class="form-control input-lg"
                                placeholder="Github" tabindex="5">
                            </div>
                        </div>
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <div class="form-group">
                                <input type="text" name="twitter" id="twitter"
                               value="{{request.form.twitter}}"
                                class="form-control input-lg"
                                placeholder="Twitter" tabindex="6">
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <textarea rows="5" name="bio" id="bio"
                        class="form-control input-lg" 
                        placeholder="reason (bio of can replace this)"
                        value="{{request.form.reason}}"
                        tabindex="7"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-xs-6 col-sm-6 col-md-6">
                            <button type="submit" class="btn" data-color="info"
                                tabindex="8">I strongly recommend</button>
                         </div>
                    </div>
                </form>
                <hr class="colorgraph">
                </div>
            </div>
        </div>
    </div> 
        <!-- Footer -->
        <div id="footer">
            <div class="container">
                <div class="row">
                    <div class="col-xs-8 col-md-8 col-sm-8">
                        <p>Started in 2014, <mark>#eXchange</mark> is a <a
                            href="http://www.devcongress.com"
                            target="_blank">DevCongress</a> innitiative and
                        supported by our <strong>pragmatic, conscious</strong> <a
                                href="#" target="_blank">community</a>
                        </div>
                    <div class="col-xs-3 col-md-3 col-sm-3">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <input type="email" name="email" id="email"
                            class="form-control" placeholder="your@email.com" />
                        </div>
                        <button type="submit" class="btn btn-default">
                            Join
                        </button>
                    </form>
                </div>
            </div>
        </div>
</div>
                    
        
  <!-- Javascript files -->
       <script src="//code.jquery.com/jquery-2.1.0.min.js"></script>
      <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
      <script src="{{ url_for('static', filename='js/maze.js') }}"></script>

      <!-- Google Analytics Tracking Code Begin -->
      <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-42476561-1', 'auto');
        ga('send', 'pageview');

      </script>
      <!-- Google Analytics Tracking Code End -->
    </div>
<!--[if !(lte IE 8)]><!--><script type="text/javascript">(function(){var e=document.createElement('script');e.type='text/javascript';e.async=true;e.src=document.location.protocol+'//d1agz031tafz8n.cloudfront.net/thedaywefightback.js/widget.min.js';var s=document.getElementsByTagName('script')[0];s.parentNode.insertBefore(e,s);})();</script><!--<![endif]-->
  </body>
</html>
